<div id="blast-launcher" ng-click="blastService.setState('conversations')"
     class="blast-launcher blast-launcher-enabled blast-launcher-active">
    <div class="blast-launcher-button blast-launcher-button-without-avatar"><i></i></div>
    <div class="blast-launcher-button blast-launcher-button-with-avatar"></div>
    <div class="blast-launcher-badge"></div>
    <div class="blast-launcher-preview">
        <div class="blast-launcher-preview-body"></div>
        <div class="blast-launcher-preview-caret"></div>
        <div class="blast-launcher-preview-close"></div>
    </div>
</div>