<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="blast.css"/>
    <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.min.css"/>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.js"></script>-->
    <!--<script src="bower_components/angular/angular.js"></script>-->
    <!--<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>-->
    <!--<script src="scripts/bootstrap.js"></script>-->
    <!--<script src="scripts/blast.js"></script>-->
</head>
<body>
<!--<div blast=""></div>-->


<div id="blast-container" go-app="blast" blast-main class="blast-container blast-reset">

    <div id="blast-launcher" go-show="blastService.state == 'launcher'" go-click="blastService.state = 'conversations'"
         class="blast-launcher blast-launcher-enabled blast-launcher-active">
        <div class="blast-launcher-button blast-launcher-button-without-avatar"><i></i></div>
        <div class="blast-launcher-button blast-launcher-button-with-avatar"></div>
        <div class="blast-launcher-badge"></div>
        <div class="blast-launcher-preview">
            <div class="blast-launcher-preview-body"></div>
            <div class="blast-launcher-preview-caret"></div>
            <div class="blast-launcher-preview-close"></div>
        </div>
    </div>

    <div id="blast-conversations" go-show="blastService.state == 'conversations'"
         class="blast-conversations blast-new-message-enabled">
        <div class="blast-sheet-header">
            <b class="blast-sheet-header-title">Messages</b>
            <a class="blast-sheet-header-button blast-sheet-header-close-button close-button"
               ng-click="blastService.setState('launcher')">
                <span>Close</span>
                <i></i>
            </a>
        </div>
        <div class="blast-sheet-body">
            <div class="blast-sheet-spinner"></div>
        </div>
        <div class="blast-sheet-content blast-conversations-content">
            <div class="blast-sheet-content-container">
                <div class="blast-conversations-items">
                    <div go-repeat="{{blastService.conversations}}" blast-conversations-list-item></div>
                </div>
            </div>
            <div class="blast-no-conversations-placeholder">
                <div class="blast-no-conversations-icon"></div>
                No conversations
            </div>
        </div>
        <div class="blast-sheet-footer blast-conversations-footer">
            <a class="blast-conversations-new-conversation-button new-conversation-button"
               ng-click="blastService.setState('conversation-new')">
                <i></i> New Message
            </a>
        </div>
    </div>


</div>

<script src="../../build/belt-app.js"></script>
<script src="scripts/blast-app.js"></script>
</body>
</html>