<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="blast.css"/>
    <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/animatecss/3.2.0/animate.min.css"/>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.js"></script>-->
    <!--<script src="bower_components/angular/angular.js"></script>-->
    <!--<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>-->
    <!--<script src="scripts/bootstrap.js"></script>-->
    <!--<script src="scripts/blast.js"></script>-->
</head>
<body>
<!--<div blast=""></div>-->


<div id="blast-container" go-app="blast" blast-main class="blast-container blast-reset">

    <div id="blast-launcher" go-show="blastService.state == 'launcher'"
         go-click="blastService.setState('conversations')"
         class="blast-launcher blast-launcher-enabled blast-launcher-active">
        <div class="blast-launcher-button blast-launcher-button-without-avatar"><i></i></div>
        <div class="blast-launcher-button blast-launcher-button-with-avatar"></div>
        <div class="blast-launcher-badge"></div>
        <div class="blast-launcher-preview">
            <div class="blast-launcher-preview-body"></div>
            <div class="blast-launcher-preview-caret"></div>
            <div class="blast-launcher-preview-close"></div>
        </div>
    </div>

    <div id="blast-conversations" go-show="blastService.state == 'conversations'"
         class="blast-conversations blast-new-message-enabled">
        <div class="blast-sheet-header">
            <b class="blast-sheet-header-title">Messages</b>
            <a class="blast-sheet-header-button blast-sheet-header-close-button close-button"
               go-click="blastService.setState('launcher')">
                <span>Close</span>
                <i></i>
            </a>
        </div>
        <div class="blast-sheet-body">
            <div class="blast-sheet-spinner"></div>
        </div>
        <div class="blast-sheet-content blast-conversations-content">
            <div class="blast-sheet-content-container">
                <div go-repeat="conversation in blastService.conversations" class="blast-conversations-items">
                    <!--<div go-repeat="{{blastService.conversations}}" blast-conversations-list-item></div>-->

                    <!-- Conversation Summary Item -->
                    <a class="blast-conversations-item" ng-class="{ 'blast-conversations-item-unread': !conversation.read }"
                       ng-click="setConversation(conversation)">
                        <img ng-src="{{ conversation.avatar }}" class="blast-conversations-item-admin-avatar">

                        <div class="blast-conversations-item-body-container">
                            <div class="blast-conversations-item-body">
                                <div class="blast-conversations-item-header">
                                    <time class="blast-conversations-item-timestamp">{{ conversation.lastUpdatedOn | blastTimeAgo }}</time>
                                    <h3 class="blast-conversations-item-title">{{ conversation.displayName }}</h3>
                                </div>
                                <div class="blast-conversations-item-summary">
                                    <div class="blast-conversations-item-readstate"></div>
                                    {{ conversation.summary }}
                                </div>
                            </div>
                        </div>
                    </a>


                </div>
            </div>
            <div class="blast-no-conversations-placeholder">
                <div class="blast-no-conversations-icon"></div>
                No conversations
            </div>
        </div>
        <div class="blast-sheet-footer blast-conversations-footer">
            <a class="blast-conversations-new-conversation-button new-conversation-button"
               go-click="blastService.setState('conversation-new')">
                <i></i> New Message
            </a>
        </div>
    </div>

    <div id="blast-new-conversation" go-show="blastService.state == 'conversation-new'"
         class="blast-new-conversation blast-sheet blast-sheet-active">
        <div class="blast-sheet-header" blast-header="">
            <a class="blast-sheet-header-button blast-sheet-header-conversations-button conversations-button"
               go-click="blastService.setState('conversations')">
                <i></i>
                <div class="blast-unread-counter blast-unread-counter-active" go-show="unreadCount">{{unreadCount}}</div>
            </a>
            <b class="blast-sheet-header-title">New Message</b>
            <a class="blast-sheet-header-button blast-sheet-header-close-button close-button"
               go-click="blastService.setState('launcher')">
                <span>Close</span>
                <i></i>
            </a>
        </div>
        <div class="blast-sheet-body blast-new-conversation-sheet-body"></div>
        <div class="blast-sheet-content">
            <div class="blast-sheet-content-container" style="padding-bottom: 0px;">
                <div class="blast-new-conversation-parts-container">

                    <div class="blast-autoresponse blast-new-conversation-message" ng-if="!messages.length">
                        <div class="blast-autoresponse-icon"><i></i></div>
                        <div class="blast-autoresponse-body-container">
                            <div class="blast-autoresponse-body">
                                <p>Ask us anything or share your feedback. We usually respond in less than an
                                    hour (except on weekends).</p>
                            </div>
                            <div class="blast-comment-caret"></div>
                        </div>
                    </div>

                    <div class="blast-new-conversation-parts">
                        <div ng-repeat="message in messages" blast-conversation-message></div>
                    </div>
                </div>
                <!--<div blast-composer="Start a conversation..." messages="messages"></div>-->
                <div class="blast-new-conversation-composer">
                    <form id="blast-composer" class="blast-composer">
                        <div class="blast-composer-textarea-container">
                            <div class="blast-composer-textarea">
                                <pre><span></span><br></pre>
                                <textarea placeholder="{{placeholder}}" ng-model="text"></textarea>
                            </div>
                            <div id="blast-uploads" class="blast-uploads"></div>
                            <div class="blast-composer-controls">
                                <strong class="blast-composer-upload-button upload-button"
                                        style="display: inline;"></strong>
                                <input type="submit" class="blast-composer-button" value="Send"
                                       ng-click="send()"
                                       ng-disabled="!text.trim()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="../../build/belt-app.js"></script>
<script src="scripts/blast-app.js"></script>
</body>
</html>