<!DOCTYPE html>
<html ng-app="app" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="blast.css"/>
</head>
<body>

<!-- widget :: start -->
<div id="blast-container" go-app="blast" blast-main class="blast-container blast-reset">
    <div go-view="blastService.state"></div>
</div>
<!-- widget :: end -->

<!-- launcher :: start -->
<script id="blast-launcher-template" type="template/text">
    <div id="blast-launcher"
         go-click="blastService.setState('conversations')"
         class="blast-launcher blast-launcher-enabled blast-launcher-active">
        <div class="blast-launcher-button blast-launcher-button-without-avatar"><i></i></div>
        <div class="blast-launcher-button blast-launcher-button-with-avatar"></div>
        <div class="blast-launcher-badge"></div>
        <div class="blast-launcher-preview">
            <div class="blast-launcher-preview-body"></div>
            <div class="blast-launcher-preview-caret"></div>
            <div class="blast-launcher-preview-close"></div>
        </div>
    </div>
</script>
<!-- launcher :: end -->

<!-- conversations :: start -->
<script id="blast-conversations-template" type="template/text">
    <div id="blast-conversations"
         class="blast-conversations blast-new-message-enabled">
        <div class="blast-sheet-header">
            <b class="blast-sheet-header-title">Messages</b>
            <a class="blast-sheet-header-button blast-sheet-header-close-button close-button"
               go-click="blastService.setState('launcher')">
                <span>Close</span>
                <i></i>
            </a>
        </div>
        <div class="blast-sheet-body">
            <div class="blast-sheet-spinner"></div>
        </div>
        <div class="blast-sheet-content blast-conversations-content">
            <div class="blast-sheet-content-container">

                <!-- conversation-summary :: start -->
                <div go-repeat="conversation in blastService.conversations" class="blast-conversations-items">
                    <a class="blast-conversations-item"
                       ng-class="{ 'blast-conversations-item-unread': !conversation.read }"
                       go-click="setConversation(conversation)">
                        <img go-src="conversation.avatar" class="blast-conversations-item-admin-avatar">

                        <div class="blast-conversations-item-body-container">
                            <div class="blast-conversations-item-body">
                                <div class="blast-conversations-item-header">
                                    <time class="blast-conversations-item-timestamp">{{ conversation.lastUpdatedOn |
                                        blastTimeAgo }}
                                    </time>
                                    <h3 class="blast-conversations-item-title">{{ conversation.displayName }}</h3>
                                </div>
                                <div class="blast-conversations-item-summary">
                                    <div class="blast-conversations-item-readstate"></div>
                                    {{ conversation.summary }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- conversation-summary :: end -->

            </div>
            <div class="blast-no-conversations-placeholder">
                <div class="blast-no-conversations-icon"></div>
                No conversations
            </div>
        </div>
        <div class="blast-sheet-footer blast-conversations-footer">
            <a class="blast-conversations-new-conversation-button new-conversation-button"
               go-click="blastService.setState('conversation-new')">
                <i></i> New Message
            </a>
        </div>
    </div>
</script>
<!-- conversations :: end -->

<!-- new conversation :: start -->
<script id="blast-conversation-new-template" type="template/text">
    <div id="blast-new-conversation"
         class="blast-new-conversation blast-sheet blast-sheet-active">
        <div class="blast-sheet-header" blast-header="">
            <a class="blast-sheet-header-button blast-sheet-header-conversations-button conversations-button"
               go-click="blastService.setState('conversations')">
                <i></i>

                <div class="blast-unread-counter blast-unread-counter-active" go-show="unreadCount">{{ unreadCount }}
                </div>
            </a>
            <b class="blast-sheet-header-title">New Message</b>
            <a class="blast-sheet-header-button blast-sheet-header-close-button close-button"
               go-click="blastService.setState('launcher')">
                <span>Close</span>
                <i></i>
            </a>
        </div>
        <div class="blast-sheet-body blast-new-conversation-sheet-body"></div>
        <div class="blast-sheet-content">
            <div class="blast-sheet-content-container" style="padding-bottom: 0px;">
                <div class="blast-new-conversation-parts-container">

                    <div class="blast-autoresponse blast-new-conversation-message" ng-if="!messages.length">
                        <div class="blast-autoresponse-icon"><i></i></div>
                        <div class="blast-autoresponse-body-container">
                            <div class="blast-autoresponse-body">
                                <p>Ask us anything or share your feedback. We usually respond in less than an
                                    hour (except on weekends).</p>
                            </div>
                            <div class="blast-comment-caret"></div>
                        </div>
                    </div>

                    <div class="blast-new-conversation-parts">
                        <!--<div ng-repeat="message in messages" blast-conversation-message></div>-->
                    </div>
                </div>

                <!-- composer :: start -->
                <div class="blast-new-conversation-composer" blast-composer>
                    <form id="blast-composer" class="blast-composer">
                        <div class="blast-composer-textarea-container">
                            <div class="blast-composer-textarea">
                                <pre><span></span><br></pre>
                                <textarea placeholder="Start a conversation..." go-model="text"></textarea>
                            </div>
                            <div id="blast-uploads" class="blast-uploads"></div>
                            <div class="blast-composer-controls">
                                <strong class="blast-composer-upload-button upload-button"
                                        style="display: inline;"></strong>
                                <input type="submit" class="blast-composer-button" value="Send"
                                       go-click="send()"
                                       go-enabled="text.trim()">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- composer :: end -->

            </div>
        </div>
    </div>
</script>
<!-- new conversation :: end -->

<!-- conversation-details :: start -->
<script id="blast-conversation-details-template" type="template/text">
    <div id="blast-conversation"
         class="blast-conversation blast-sheet blast-sheet-active">
        <div class="blast-sheet-header" blast-header="">
            <a class="blast-sheet-header-button blast-sheet-header-conversations-button conversations-button"
               go-click="blastService.setState('conversations')">
                <span>Messages</span>
                <i></i>

                <div class="blast-unread-counter blast-unread-counter-active" ng-show="unreadCount">{{unreadCount}}
                </div>
            </a>
            <b class="blast-sheet-header-title">{{ blastService.activeConversation.profile.firstName }} from
                {{ blastService.activeConversation.company.name }}</b>
            <a class="blast-sheet-header-button blast-sheet-header-close-button close-button"
               go-click="blastService.setState('launcher')">
                <span>Close</span>
                <i></i>
            </a>
        </div>
        <div class="blast-sheet-body">
            <div class="blast-sheet-spinner"></div>
        </div>
        <div class="blast-sheet-content" scroll-glue=".blast-sheet-content-container">
            <div class="blast-sheet-content-container" style="padding-bottom: 136px;">
                <div class="blast-conversation-parts">
                    <!-- conversation -->
                    <!--<div ng-repeat="message in blastService.activeConversation.messages" blast-conversation-message></div>-->
                </div>
                <div blast-composer="Write a reply..." messages="blastService.activeConversation.messages"></div>

                <!--<div class="blast-conversation-composer">-->
                <!--<div blast-composer="Write a reply..." messages="blastService.activeConversation.messages"></div>-->
                <!--<div class="blast-composer-textarea-container">-->
                <!--<div class="blast-composer-textarea">-->
                <!--<pre><span></span><br></pre>-->
                <!--<textarea placeholder="Write a reply…" ng-model="blastService.message"></textarea>-->
                <!--</div>-->
                <!--<div id="blast-uploads" class="blast-uploads"></div>-->
                <!--<div class="blast-composer-controls">-->
                <!--<strong class="blast-composer-upload-button upload-button"-->
                <!--style="display: inline;"></strong>-->
                <!--<input type="submit" class="blast-composer-button" value="Send"-->
                <!--ng-disabled="!blastService.message.trim()">-->
                <!--</div>-->
                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</script>
<!-- conversation-details :: end -->

<script src="../../build/belt-app.js"></script>
<script src="scripts/blast-app.js"></script>

</body>
</html>